
@{
    Layout = null;
}
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <style>
        #main {
            margin: 50px 50px 0px 100px;
        }
    </style>
</head>
<body>
    <div id="main">
        <h2>Thank you for your interest in our products.</h2>
        Your download will begin shortly.
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            window.location.href = "/leads/downloadfile/";
            });
    </script>
</body>
</html>

