@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
No Account yet? @Html.ActionLink("Add User", "AddUser", "Account")<br/><br/>
Already registered? @Html.ActionLink("Login Now", "Login", "Account")