
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="contents">
        <div class="heading">
            <h2>Document Management Portal</h2>
        </div>

        <div class="page-contents">
            @if (ViewBag.LoggedIn != "yes")
            {
                <p>Please <a href="/Account/Login">Log in</a></p>}
            else
            {
                <h2>Welcome @Session["username"]</h2>}
        </div>
    </div>
</div>
