<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
        
        #
        RewriteCond %{HTTP_HOST} ^charlie.coherent\.com$ [NC]
        RewriteRule ^(.*)$ https://charlie.coherent.com/$1 [R=301,L]


        # Removes index.php from ExpressionEngine URLs
        RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
        RewriteCond %{REQUEST_URI} !/system/.* [NC]
        RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

        # Directs all EE web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /api/index.php/$1 [L]
</IfModule>

php_value upload_max_filesize 130M
php_value post_max_size 130M 