
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lasers</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <style>
        #lasers_main {
            margin: 50px 50px 0px 100px;
        }
        .laser_child{
            float:left;
            margin-right:50px;
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px; 
            width: 200px;
            max-height: 350px; 
        }
        .laser_child img{
            max-height: 75px;
        }
    </style>
</head>
<body>
    <div id="lasers_main">
        <div><h2>Lasers</h2></div>

        <div id="laser_children">
            <div class="laser_child">
                DF Series<br /><br />
                <img src="/Content/images/COHR-ROFIN_DF_300x300.jpg" /><br/><br/>
                <a href="/leads/create/16">Request Data Sheet</a>
            </div>
            <div class="laser_child">
                Flare NX<br/><br/>
                <img src="/Content/images/IMG_FlareNX_850x850_0915.jpg" /><br/><br/>
                <a href="/leads/create/17">Request Data Sheet</a>
            </div>
            <div class="laser_child">
                RegA<br /><br />
                <img src="/Content/images/IMG_RegA_850x850_0915.jpg" /><br /><br />
                <a href="/leads/create/15">Request Data Sheet</a>
            </div>
        </div>
    </div>


</body>
</html>

