
@{
    ViewBag.Title = "App Codes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="contents">
        <div class="heading">
            <h2>App Codes List</h2>
        </div>

        <div class="page-contents">
            <div>
                <div class="group">
                    <table id="appcodes">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Market</th>
                                <th>Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Market</th>
                                <th>Id</th>
                                <th>Action</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var appcode in ViewBag.AppCodesList)
                            {
                                <tr>
                                    <td>@appcode.Code</td>
                                    <td>@appcode.Description</td>
                                    <td>@appcode.Market</td>
                                    <td>@appcode.Id</td>
                                    <td><a href="/Document/EditAppCode/@appcode.Id" title="Edit"><img src="/Content/themes/base/images/icon-edit.png" alt="Edit"></a></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>

    $(document).ready(function () {
        $('#appcodes').DataTable();
    });
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

