@model DMP.Models.ViewModel.EditDocumentView

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="contents">
        <div class="heading">
            <h2>Changes saved</h2>
        </div>
    </div>
</div>

        <div>
            @Html.ActionLink("Back to Documents List", "Index")
        </div>
